.CreateTeam {
    background-color: rgb(206, 206, 206);
}

.vermelho {
    -webkit-text-fill-color: red;
}


.CreateTeam {
    margin: 20px auto;
    width: 100%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}

@media (min-width: 600px) {
    .CreateTeam {
        width: 500px;
    }
}